body{
font-family: 'Allerta Stencil', sans-serif;
	background-color:#3c5998;
}
@font-face{
	font-family: "cubic";
	src:url("cubic/cubic.ttf") format("truetype");
}

#ident{
	font-family:cubic.tff;
	font-size:10px;
	color:#123;
}
	
header{
	
	background-color: #DAA520;
	text-align: right;

}

header figure{
	float: left;
	margin-left: 10px;
}

header figure img{
	width: 100px;
	height: 100px;
	border-radius:120%;
}

header h1{

	font-family:"cubic";
	
	color: #f7f7f7;
	float: left;
	font-size: 1.6cm;
	display: block;
	margin: 7px 80px 0px 50px;
	padding: 0px;
}

header nav ul li{
	height: 35px;
	margin-top:10px;
	width: 100%;
	display: inline-block;
}
header nav h2{
	text-decoration:none;
	font-weight: bold;
	color:#DAA520;
	padding: 80px 150px;
}

div   { text-align: center; }
table { margin: auto; }

* { margin: 0px;
padding: 0px; outline: 0;
}

#menu {  text-align: center;
font-size: 0.5cm;
margin: 20px;
}
#menu ul { list-style-type: none;float: left;
}
#menu ul li.nivel1 { 
width: 162px;
}
#menu ul li.primera { border-top: solid 1px #FFF;
}
#menu ul li a {display: block;
text-decoration: none;
color: #fff;
background-color: #399;
border: solid 1px #fff;
border-top: none;
padding: 8px;
position: relative;
}
#menu ul li:hover {position: relative;
background-color: #6CC;
color: #000;
}
#menu ul li a:hover, #menu ul li:hover > a.nivel1 {background-color: #6CC;
color: #000;
position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover > ul {display: block;
position: absolute;left: 161px;top:-1px!important;top: -31px;
}
#menu ul li ul li a {width: 144px;
background-color: #399;
color: #FFF;
}
#menu ul li ul li a:hover {position: relative;
background-color: #6CC;
color: #000;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}

	
